<ion-view view-title="Disciplina">
  <ion-content class="padding has-header">
    <h4 class="title">{{course.name}}</h4>
    <p>{{course.info}}</p>

    <!-- Topics list -->
    <div class="list card">
      <div class="item item-divider">
       Tópicos
      </div>
      <a href="#/tab/topics/{{topic.id}}" ng-repeat="topic in topics" class="item item-icon-right">
        {{topic.name}}
        <p>por: {{topic.author}} - {{topic.updated_at}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <p class="item" ng-if="!topics.length">
        Nenhum tópico desta disciplina.
      </p>
    </div>

    <!-- Events list -->
    <div class="list card">
      <div class="item item-divider">
       Próximos Eventos
      </div>
      <div ng-repeat="event in events" class="item">
        {{event.name}}
        <p>{{event.starts | date: 'dd/MM/yyyy - HH:mm'}} até {{event.ends | date: 'dd/MM/yyyy - HH:mm'}}</p>
      </div>
      <p class="item" ng-if="!events.length">
        Nenhum evento desta disciplina.
      </p>
    </div>

    <!-- Files list -->
    <div class="list card">
      <div class="item item-divider">
       Arquivos
      </div>
      <div ng-repeat="file in files" class="item item-button-right" ng-include src="'templates/files/file.html'">
      </div>
      <p class="item" ng-if="!files.length">
        Nenhum arquivo desta disciplina.
      </p>
    </div>

  </ion-content>
</ion-view>
