<ion-view view-title="Integra UFF">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <a class="button button-block button-outline button-positive icon ion-university" href="#/tab/courses">
          Disciplinas
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-outline button-positive icon ion-android-calendar" href="#/tab/events">
          Eventos
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-positive icon ion-ios-folder">
          Arquivos
        </button>
      </div>
      <div class="col">
        <a class="button button-block button-outline button-positive icon ion-chatboxes" href="#/tab/chats">
          Mensagens
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-positive icon ion-ios-people">
          Amigos
        </button>
      </div>
      <div class="col">
        <a class="button button-block button-outline button-positive icon ion-gear-a" href="#/tab/settings">
          Configurações
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
