<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Iduff" ng-model="credentials.login">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="credentials.password">
            </label>
            <button class="button button-full button-positive" ng-click="login()">Sincronizar</button>
        </div>
    </ion-content>
</ion-view>
