<ion-view view-title="Arquivos">
  <ion-content>
    <ion-list>
      <div ng-repeat="(course, course_files) in files | groupBy: 'course_name'">
        <ion-item class="item-remove-animate item-divider" type="item-text-wrap">
          {{ course }}
        </ion-item>
        <ion-item class="item-remove-animate item-button-right" ng-repeat="file in course_files" type="item-text-wrap" ng-include src="'templates/files/file.html'">
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
