<ion-view view-title="Integra UFF">
  <ion-content scroll="false">
    <div class="list full-height">
      <a class="item dash-item disciplinas" href="#/tab/courses">
          <header><h1><i class="icon ion-university"></i> Disciplinas</h1></header>
      </a>
      <a class="item dash-item eventos" href="#/tab/events">
        <header><h1><i class="icon ion-android-calendar"></i> Eventos</h1></header>
      </a>
      <a class="item dash-item arquivos" href="#/tab/files">
        <header><h1><i class="icon ion-ios-folder"></i> Arquivos</h1></header>
      </a>
    </div>
  </ion-content>
</ion-view>
