<ion-view view-title="Configurações">
  <ion-content>
    <div class="list">
      <div class="item" href="#">
        Perfil
      </div>
      <div class="item item-toggle">
        Notificações
       <label class="toggle toggle-balanced">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Download Automático
        </div>
        <select>
          <option>Sempre</option>
          <option selected>Somente Wi-Fi</option>
          <option>Nunca</option>
        </select>
      </label>
      <a class="item" href="#">
        Contas Sincronizadas
      </a>
    </div>
  </ion-content>
</ion-view>
